{% extends 'index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Ввійти
{% endblock %}
{% block content %}


    <section class="links">
        <div class="container">
            <a href="{% url 'main:landing' %}">На головну</a>
            <p>&nbsp|&nbsp</p>
            <a href="">Ввійти</a>
        </div>
    </section>

    <section class="links">
        <div class="container">
            {% for message in messages %}
                <p> {{ message }}</p>
            {% endfor %}
        </div>
    </section>

    <section class="posters-block posters-block-register">
        <div class="container">
            <div class="sub-container">
                <div class="registration registration-login">
                    <form name="form" method="POST">
                        <h2>| Введіть дані |</h2>
                        {% csrf_token %}
                            {{ form.username }}
                            {{ form.password }}
                        <button type="submit"> Ввійти </button>
                        <a class="additional-buttom" href="{% url 'account:register' %}"> Зареєструватися </a>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder="Ім'я";
		form_fields[2].placeholder='Пароль';

		for (var field in form_fields){
			form_fields[field].className += 'input'
		}
    </script>

{% endblock %}