{% extends 'index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Зареєструватися
{% endblock %}
{% block content %}

    <section class="links">
        <div class="container">
            <a href="{% url 'main:landing' %}">На головну</a>
            <p>&nbsp|&nbsp</p>
            <a>Зареєструватися</a>
        </div>
    </section>

    <section class="posters-block posters-block-register">
        <div class="container">
            <div class="sub-container">
                <div class="registration">
                    <form name="form" method="POST">
                        <h2>| Введіть дані |</h2>
                        {{ form.errors }}
                        {% csrf_token %}
                            {{ form.username }}
                            {{ form.email }}
                            {{ form.password1 }}
                            {{ form.password2 }}
                        <button type="submit"> Зареєструватися </button>
                        <a class="additional-buttom" href="{% url 'account:login' %}"> Вже маю акаунт </a>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <script>
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder="Ім'я";
		form_fields[2].placeholder='Пошта';
		form_fields[3].placeholder='Пароль';
		form_fields[4].placeholder='Підтвердження паролю';

		for (var field in form_fields){
			form_fields[field].className += ' input'
		}
    </script>

{% endblock %}
