{% extends 'index.html' %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}


    <section class="links links-info-page">
        <div class="container">
            <a href="{% url 'main:landing' %}">На головну</a>
            <p>&nbsp|&nbsp</p>
            <a href="{% url 'events:all_events' %}">Афіша</a>
            <p class="full-name">&nbsp|&nbsp</p>
            <a class="full-name" href="{% url 'events:event' event.id %}">{{ event.name }}</a>
            <p class="short-name">&nbsp|&nbsp</p>
            <a class="short-name" href="">{{ event.short_name }}</a>
        </div>
    </section>

    <section class="poster-main-info edit-profile-page">
        <div class="container">
            {% for message in messages %}
                <h1> {{ message }}</h1>
            {% endfor %}
            <h1>
               {{ event.name }}
            </h1>
            <hr>
            {% for field_errors in form.errors.values %}
                {% for error in field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="block">
                        <img src="{{ event.image.url }}" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <section class="posters-block posters-block-register">
                        <div class="container">
                            <div class="sub-container">
                                <div class="registration edit-profile-form change-event-form">
                                    <form name="form" method="POST" enctype="multipart/form-data">
                                        <h2>| Введіть дані |</h2>

                                            {% csrf_token %}
                                        {#    {{ form.as_p }}#}
                                        <label class="edit-parameter event-change-labels" for="id_name">Назва:</label>
                                            {{ form.name }}
                                        <label class="edit-parameter event-change-labels" for="id_short_name">Коротка назва:</label>
                                            {{ form.short_name }}
                                        <label class="edit-parameter event-change-labels" for="id_image">Постер:</label>
                                            {{ form.image }}
                                        <div class="label-input dates">
                                            <label class="edit-parameter event-change-labels" for="id_from_date">Від:</label>
                                            {{ form.from_date }}
                                        </div>
                                        <div class="label-input dates">
                                            <label class="edit-parameter event-change-labels" for="id_to_date">До:</label>
                                            {{ form.to_date }}
                                        </div>
                                        <label class="edit-parameter event-change-labels" for="id_price">Ціна:</label>
                                            {{ form.price }}
                                        <label class="edit-parameter event-change-labels" for="id_about">Опис події:</label>
                                            {{ form.about }}
                                        <label class="edit-parameter event-change-labels" for="id_hall_id">Зала:</label>
                                            {{ form.hall_id }}
                                        <div class="label-input dates">
                                            <label class="edit-parameter event-change-labels" for="id_popularity">Популярність:</label>
                                            {{ form.popularity }}
                                        </div>


                                        <button type="submit"> Змінити </button>
                                        <a class="additional-buttom" href="{% url 'events:event' event.id %}"> Повернутися </a>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    <script>
		var form_fields = document.getElementsByTagName('input')

		for (var field in form_fields){
			form_fields[field].className += 'change-input'
		}

        form_fields[4].setAttribute('type', 'date');
        form_fields[5].setAttribute('type', 'date');
        form_fields[7].className += ' about-block-change'

        var form_field_select = document.getElementsByTagName('select')[0]
        form_field_select.className += 'change-input '

        var formfield_text = document.getElementsByTagName('textarea')[0]
        formfield_text.className += 'change-input text-area-change'

    </script>

    <script>

    </script>


{#    <section class="poster-main-info">#}
{#        <div class="container">#}
{#            <div class="event-upper">#}
{#                <h1>#}
{#                    {{ event.name }}#}
{#                </h1>#}
{#            </div>#}
{#            <hr>#}
{#            <div class="row">#}
{#                <section class="posters-block posters-block-register">#}
{#                        <div class="container">#}
{#                            <div class="sub-container">#}
{#                                <div class="registration event-change">#}
{#                                    <form name="form" method="POST" enctype="multipart/form-data">#}
{#                                        <h2>| Введіть дані |</h2>#}
{##}
{#                                            {% csrf_token %}#}
                                        {#    {{ form.as_p }}#}
{##}
{#                                            {{ form.name }}#}
{#                                            {{ form.short_name }}#}
{#                                            {{ form.image }}#}
{#                                            {{ form.from_date }}#}
{#                                            {{ form.to_date }}#}
{#                                            {{ form.price }}#}
{#                                            {{ form.about }}#}
{#                                            {{ form.hall_id }}#}
{#                                            {{ form.popularity }}#}
{##}
{#                                        <button type="submit"> Змінити </button>#}
{#                                        <a class="additional-buttom" href="{% url 'events:event' event.id %}"> Повернутися </a>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </section>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}




{% endblock %}