{% extends 'index.html' %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}


    <section class="links links-info-page">
        <div class="container">
            <a href="{% url 'main:landing' %}">На головну</a>
            <p>&nbsp|&nbsp</p>
            <a href="{% url 'events:all_events' %}">Афіша</a>
            <p class="full-name">&nbsp|&nbsp</p>
            <a class="full-name" href="{% url 'events:event' event.id %}">{{ event.name }}</a>
            <p class="short-name">&nbsp|&nbsp</p>
            <a class="short-name" href="">{{ event.short_name }}</a>
        </div>
    </section>

    <section class="poster-main-info">
        <div class="container">
            <div class="event-upper">
                <h1>
                    {{ event.name }}
                </h1>
            </div>
            <hr>
            <div class="row">
                <section class="posters-block posters-block-register">
                        <div class="container">
                            <div class="sub-container">
                                <div class="registration event-change">
                                    <form name="form" method="POST" enctype="multipart/form-data">
                                        <h2>| Введіть дані |</h2>

                                            {% csrf_token %}
                                        {#    {{ form.as_p }}#}

                                            {{ form.name }}
                                            {{ form.short_name }}
                                            {{ form.image }}
                                            {{ form.from_date }}
                                            {{ form.to_date }}
                                            {{ form.price }}
                                            {{ form.about }}
                                            {{ form.hall_id }}
                                            {{ form.popularity }}

                                        <button type="submit"> Змінити </button>
                                        <a class="additional-buttom" href="{% url 'events:event' event.id %}"> Повернутися </a>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </section>
            </div>
        </div>
    </section>




{% endblock %}