{% extends 'index.html' %}

{% block title %}
    Закритий доступ
{% endblock %}

{% block content %}

    <section class="links links-info-page">
        <div class="container">
            <a href="{% url 'main:landing' %}">На головну</a>
        </div>
    </section>

    <section class="poster-main-info not-allowed">
        <div class="container">
                <h1>
                     У вас немає доступу до цієї сторінки!
                </h1>
        </div>
    </section>

{% endblock %}