{% extends 'index.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
    Профіль
{% endblock %}
{% block content %}


    <section class="poster-main-info">
        <div class="container">
            {% for message in messages %}
                <h1> {{ message }}</h1>
            {% endfor %}

            <h1>
                <a class="user-name" href="{% url 'user:profile' %}">{{ request.user.customer.name }}</a>
            </h1>
            <hr>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="block">
                        <img src="{{ request.user.customer.profile_pic.url }}" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="full-poster-info">
                        <div class="written-info">
                            <p>Телефон:<br> {{ request.user.customer.phone }}</p>
                        </div>
                        <div class="written-info">
                            <p>Пошта:<br> {{ request.user.customer.email }}</p>
                        </div>
                    </div>
                    <div class="button">
                        <a class="logout-button" href="{% url 'user:profile_change' %}">Редагувати дані</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="additional-info-block additional-info-block-info-page profile-length">
        <div class="container">
            <div class="user-div">
                <div class="user-button">
                    <button onclick="show('block')">Історія замовлень</button>
                </div>
                <div class="user-button">
                    <button onclick="show('block')">Список бажаного</button>
                </div>
            </div>
            <div class="form">
                <a class="logout-button" href="{% url 'account:logout' %}">Вийти</a>
            </div>
        </div>
    </section>

    <div onclick="show('none')" id="bg-form" class="bg-gray"></div>

{% endblock %}