{% extends 'index.html' %}

{% block title %}
    Афіша подій
{% endblock %}

{% block content %}

<section class="links">
    <div class="container">
        <a href="{% url 'main:landing' %}">На головну</a>
        <p>&nbsp|&nbsp</p>
        <a href="{% url 'events:all_events' %}">Афіша</a>
    </div>
</section>


<section class="choice-maker">
        <div class="container">
            <h1>
                Афіша подій
            </h1>
            <hr>
            <form action="" method="get">
                <div class="row">
                    <div class="col-4 col-lg-3">
                            <form  method="GET" action="/all_events/">
                                <input class="search-input" type="search" placeholder="Пошук" aria-label="Пошук"
                                       name="search">
                            </form>
                    </div>
                    <div class="col-8 col-lg-3">
                            <form  method="GET" action="/all_events/">
                                <input class="search-input" id="datepicker" type="search" placeholder="Дата" aria-label="Дата"
                                       name="date">
                            </form>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label>
                            <select name="sorting" id="sort-list" onchange="location = sort_events()" class="choicebox order">
                                    <option value="" id="placeholder" disabled selected hidden>Сортування</option>
                                    <option value="name" id="name">Від А до Я</option>
                                    <option value="-name" id="-name">Від Я до А</option>
                                    <option value="price" id="price">Найдешевші</option>
                                    <option value="-price" id="-price">Найдорожчі</option>
                                    <option value="-popularity" id="-popularity">Найпопулярніші</option>
                                    <option value="popularity" id="popularity">Найнепопулярніші</option>
                            </select>
                        </label>
                    </div>
                    <div class="form">
                        <button type="submit" class="search">Пошук</button>
                    </div>
                </div>
            </form>
        </div>
    </section>

<section class="posters-block posters-block-container">
    <div class="container">
        <div class="row">
            {% if events %}
                {% for event in events %}
                    <div class="col-6 col-xl-3">
                        <div class="poster">
                            <a class="name" href="{% url 'events:event' event.id %}">{{ event.name }}</a>
                            <img src="{{ event.image.url }}" alt="">
                            <div class="calendar">
                                <img src="/media/images/poster/calendar.png" alt="">
                                <div class="text">
                                    <p>Від {{ event.from_date|date:"m-d" }} </p>
                                    <p>До {{ event.to_date|date:"m-d" }}</p>
                                </div>
                            </div>
                            <hr class="poster-hr">
                            <p class="price">{{ event.price }} ГРН.</p>
                            <button data-event="{{ event.id }}" data-action="add" class="update-cart">Додати у кошик</button>
                        </div>
                    </div>
                {% endfor %}
                <div class="form">
                </div>
            {% else %}
                <h1>
                    На жаль, подій нема...
                </h1>
            {% endif %}
        </div>
    </div>
</section>

<script>
    $(function () {
      $("#datepicker").datepicker({
          format:'yyyy-mm-dd'
      });
    });

    {#function get(name) {#}
    {#    if (name === (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))#}
    {#        return decodeURIComponent(name[1]);#}
    {##}
    {##}
    {#if(get('sorting'))#}
    {#    document.getElementById('placeholder').innerHTML = document.getElementById(get('sorting')).innerHTML;#}


</script>

{% endblock %}

{#{% block js %}#}
{#<script>#}
{#    $(function () {#}
{#      $("#datepicker").datepicker();#}
{#    });#}
    {#function get(name) {#}
    {#    if (name === (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))#}
    {#      return decodeURIComponent(name[1]);#}
    {##}
    {##}
    {#if(get('sorting'))#}
    {#        document.getElementById('placeholder').innerHTML = document.getElementById(get('sorting')).innerHTML;#}


    {#function sort_events() {#}
    {#    var url = new URL(window.location.href);#}
    {#    var search_params = url.searchParams;#}
    {#    search_params.set('sorting', document.getElementById("sort-list").value);#}
    {#    url.search = search_params.toString();#}
    {#    var new_url = url.toString();#}
    {#    console.log(new_url);#}
    {#    return new_url#}
    {##}

{#{% endblock %}#}