
{% extends 'index.html' %}

{% block title %}
    Афіша подій
{% endblock %}

{% block content %}

<section class="links">
    <div class="container">
        <a href="{% url 'main:landing' %}">На головну</a>
        <p>&nbsp|&nbsp</p>
        <a href="{% url 'events:all_events' %}">Афіша</a>
    </div>
</section>


<section class="choice-maker">
        <div class="container">
            <h1>
                Афіша подій
            </h1>
            <hr>
            <form class="search-form"  method="GET" action="{% url 'events:all_events' %}">
                <div class="row">
                        <div class="col-8 col-lg-3 sorting-boxes">
                            <input  class="search-input" type="date" placeholder="Дата" aria-label="Дата"
                                    name="date">
                        </div>
                        <div class="col-4 col-lg-3 sorting-boxes">
                                <input class="search-input" type="search" placeholder="Пошук" aria-label="Пошук"
                                       name="search">
                        </div>
                        <div class="col-12 col-lg-3 box-form">
                            <div class="check-boxes">
                                <label>
                                    Мала зала
                                    <input type="checkbox" name="hall" value="1">
                                </label>
                            </div>
                            <div class="check-boxes">
                                <label>
                                    Велика зала
                                    <input type="checkbox" name="hall" value="2">
                                </label>
                            </div>
                            <div class="check-boxes">
                                <label>
                                    Зоряна зала
                                    <input type="checkbox" name="hall" value="3">
                                </label>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 sorting-boxes">
                            <label>
                                <select name="sorting" id="sort-list" class="choicebox order">
                                        <option value="" id="placeholder" disabled selected hidden>Сортування</option>
                                        <option value="name" id="name">Від А до Я</option>
                                        <option value="-name" id="-name">Від Я до А</option>
                                        <option value="price" id="price">Найдешевші</option>
                                        <option value="-price" id="-price">Найдорожчі</option>
                                        <option value="-popularity" id="-popularity">Найпопулярніші</option>
                                        <option value="popularity" id="popularity">Найнепопулярніші</option>
                                </select>
                            </label>
                        </div>
                        <div class="form">
                            <button type="submit" class="search">Пошук</button>
                        </div>
                </div>
            </form>
        </div>
    </section>

<section class="posters-block posters-block-container">
    <div class="container">
        <div class="row">
            {% if events %}
                {% for event in events %}
                    <div class="col-6 col-xl-3">
                        <div class="poster">
                            <a class="name" href="{% url 'events:event' event.id %}">{{ event.name }}</a>
                            <img src="{{ event.image.url }}" alt="">
                            <div class="calendar">
                                <img src="/media/images/poster/calendar.png" alt="">
                                <div class="text">
                                    <p>Від {{ event.from_date|date:"d-m" }} </p>
                                    <p>До {{ event.to_date|date:"d-m" }}</p>
                                </div>
                            </div>
                            <hr class="poster-hr">
                            <p class="price">{{ event.price }} ГРН.</p>
                            {% if not user.is_superuser %}
                                <a href="{% url 'events:event' event.id %}">Переглянути</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}


            {% else %}
                <h1>
                    На жаль, подій нема...
                </h1>
            {% endif %}
        </div>
{#        <div class="pagination-form">#}
{#              <ul class="pagination">#}
{#                    {% if events.has_previous %}#}
{#                        <li class="page-item">#}
{#                            <a href="?page=1">&laquo;</a>#}
{#                            <a href="?page={{ events.previous_page_number }}" rel="prev" aria-label="&laquo; Previous">&lsaquo;</a>#}
{#                        </li>#}
{#                    {% endif %}#}
{#                    <div class="current">#}
{#                        <p class="current-page">{{ events.number }}</p>#}
{#                        <p>/</p>#}
{#                        <p>{{ events.paginator.num_pages }}</p>#}
{#                    </div>#}
{#                    {% if events.has_next %}#}
{#                        <li class="page-item">#}
{#                            <a href="?page={{ events.next_page_number }}" rel="next" aria-label="Next &raquo;">&rsaquo;</a>#}
{#                            <a href="?page={{ events.paginator.num_pages }}">&raquo;</a>#}
{#                        </li>#}
{#                    {% endif %}#}
{#              </ul>#}
{#        </div>#}
{% load custom_filters %}

<div class="pagination-form">
    <ul class="pagination">
        {% if events.has_previous %}
            <li class="page-item">
                <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% for hall in request.GET|getlist_filter:'hall'  %}&hall={{ hall }}{% endfor %}{% if request.GET.sorting %}&sorting={{ request.GET.sorting }}{% endif %}">&laquo;</a>
                <a href="?page={{ events.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% for hall in request.GET|getlist_filter:'hall'  %}&hall={{ hall }}{% endfor %}{% if request.GET.sorting %}&sorting={{ request.GET.sorting }}{% endif %}" rel="prev" aria-label="&laquo; Previous">&lsaquo;</a>
            </li>
        {% endif %}
        <div class="current">
            <p class="current-page">{{ events.number }}</p>
            <p>/</p>
            <p>{{ events.paginator.num_pages }}</p>
        </div>
        {% if events.has_next %}
            <li class="page-item">
                <a href="?page={{ events.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% for hall in request.GET|getlist_filter:'hall'  %}&hall={{ hall }}{% endfor %}{% if request.GET.sorting %}&sorting={{ request.GET.sorting }}{% endif %}" rel="next" aria-label="Next &raquo;">&rsaquo;</a>
                <a href="?page={{ events.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.date %}&date={{ request.GET.date }}{% endif %}{% for hall in request.GET|getlist_filter:'hall'  %}&hall={{ hall }}{% endfor %}{% if request.GET.sorting %}&sorting={{ request.GET.sorting }}{% endif %}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
    </div>
</section>



{% endblock %}
